<ng-container>
    <div class="my-overlay" [ngClass]="{'h-0': !loader.loadingVisible}">
        <div class="d-flex justify-content-center align-items-center loader-mt">
            <img src="../../../assets/images/logo.png" height="5%" width="5%" class="mx-4">
            <div class="waviy loader-spinner">
                <span style="--i:1">D&nbsp;&nbsp;</span>
                <span style="--i:2">I&nbsp;&nbsp;</span>
                <span style="--i:3">G&nbsp;&nbsp;</span>
                <span style="--i:4">I&nbsp;&nbsp;</span>
                <span style="--i:5">T&nbsp;&nbsp;</span>
                <span style="--i:6">A&nbsp;&nbsp;</span>
                <span style="--i:7">L&nbsp;&nbsp;</span>
                <span style="--i:8">C&nbsp;&nbsp;</span>
                <span style="--i:9">R&nbsp;&nbsp;</span>
                <span style="--i:10">E&nbsp;&nbsp;</span>
                <span style="--i:11">A&nbsp;&nbsp;</span>
                <span style="--i:12">T&nbsp;&nbsp;</span>
                <span style="--i:13">I&nbsp;&nbsp;</span>
                <span style="--i:14">V&nbsp;&nbsp;</span>
                <span style="--i:15">I&nbsp;&nbsp;</span>
                <span style="--i:16">T&nbsp;&nbsp;</span>
                <span style="--i:17">Y&nbsp;&nbsp;</span>
            </div>
        </div>
    </div>
</ng-container>