<app-nav-bar *ngIf="authService.isLoggedIn()"></app-nav-bar>
<div class="container-fluid app-container bg-main">
  <div class="row justify-content-between">
    <div class="d-none d-lg-block" [ngClass]="{'col-3': authService.isLoggedIn(), 'my-1': authService.isLoggedIn()}">
      <app-side-bar *ngIf="authService.isLoggedIn()"></app-side-bar>
    </div>
    <div class="col-l2" [ngClass]="{'col-lg-9': authService.isLoggedIn()}">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-loading-spinner></app-loading-spinner>